{% extends 'base.html' %}

{% block title %}
  Erro interno no servidor :(
{% endblock %}

{% block header %}
  <h1 class="main-title -error">Erro interno no servidor :(</h1>
{% endblock %}

{% block content %}
  <p>
    Algum erro ocorreu internamente.
    <br>
    Você pode abrir uma issue
    <a href="https://github.com/willy-r/portfolio-feliz-backend/issues/new" target="_blank" rel="noopener noreferrer external">
      abrir uma issue
    </a> no GitHub do projeto para me ajudar.
  </p>
{% endblock %}
